---
import Layout from "../layouts/Layout.astro";
import TechStack from "../components/TechStack.astro";
import Projects from "../components/Projects.astro";
import { Icon } from "astro-icon/components";
const title = "About";
---

<Layout title={title} showSearchBar={false}>
  <section
    class="max-w-4xl mx-auto mt-20 bg-light-bg-alt text-light-text dark:bg-dark-bg-alt dark:text-dark-text shadow-lg p-2 sm:p-4 rounded-xl min-w-0"
  >
    <h2
      class="font-ibm font-bold text-xl sm:text-2xl md:text-3xl text-light-primary dark:text-dark-primary text-center"
    >
      About
    </h2>
    <p class="text-pretty text-base sm:text-lg break-words">
      Hi, I'm Fabi a software developer, my goal is to learn something new
      everyday. The purpose of this blog is to share with other people tutorials
      about different tools. As I learn more, I'll update this blog. Thanks for
      stoping by 👋🏼.
    </p>
    <div class="flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-6">
      <span class="text-base sm:text-lg"
        >You can check my GitHub and Linkedin profile here:</span
      >
      <div class="flex gap-4 mt-2 sm:mt-0">
        <a href="https://github.com/FabiolaAlP" target="_blank">
          <Icon
            name="skill-icons:github-dark"
            class="w-10 h-10 hover:animate-pulse"
          />
        </a>
        <a
          href="http://www.linkedin.com/in/fabiola-alvarado-perez"
          target="_blank"
        >
          <Icon
            name="skill-icons:linkedin"
            class="w-10 h-10 hover:animate-pulse"
          />
        </a>
      </div>
    </div>
    <div class="flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-6">
      <span class="text-base sm:text-lg">Currently learning:</span>
      <div class="flex gap-4 mt-2 sm:mt-0">
        <Icon name="skill-icons:astro" class="w-10 h-10" />
        <Icon name="logos:react-query-icon" class="w-10 h-10" />
        <Icon name="skill-icons:vitest-light" class="w-10 h-10" />
      </div>
    </div>
  </section>
  <TechStack />
  <Projects />
</Layout>
