---
import Layout from "../layouts/Layout.astro";
import { format } from "date-fns";
const { posts } = Astro.props;
console.log(posts);
const getTagName = (tags) => {
  return tags
    .map(
      (tag) =>
        `<span class="rounded-full border-gray-800 dark:border-gray-300 border p-2 dark:text-white">${tag.node.name}</span>`
    )
    .join(", ");
};
---

<article class="mt-20 max-w-4xl">
  {
    posts.map((post) => (
      <section class="container mx-auto border border-gray-300 shadow-md bg-slate-200 dark:bg-gray-700 rounded-xl p-4 my-6">
        <h2 class="my-4">
          <a
            class="font-ibm hover:underline dark:text-white text-xl md:text-2xl lg:text-3xl"
            href={`/posts/${post.slug}/`}
            set:html={post.title}
          />
        </h2>
        <span
          class="block my-4 dark:text-white"
          set:html={`By: ` + post.author.node.name}
        />
        <span
          class="block my-4 dark:text-white"
          set:html={format(post.date, "dd MMM yyyy")}
        />
        <div class="my-5 dark:text-white" set:html={post.excerpt} />
        <span
          class="block text-left sm:text-right"
          set:html={`tags: ` + getTagName(post.tags.edges)}
        />
      </section>
    ))
  }
</article>
