---
import { format } from "date-fns";

const { posts } = Astro.props;
const getTagName = (tags) => {
  if (tags.length === 0) {
    return `<span class="rounded-full border-gray-800 dark:border-gray-300 border p-2 dark:text-white">uncategorized</span>`;
  } else {
    return tags
      .map(
        (tag) =>
          `<span class="rounded-full border-gray-800 dark:border-gray-300 border p-2 dark:text-white">${tag.node.name}</span>`
      )
      .join(", ");
  }
};
---

<!-- <article class="mt-14 sm:mt-20 max-w-4xl"> -->
<article class="mt-14 sm:mt-20 max-w-full sm:max-w-4xl mx-auto px-4 sm:px-0">
  {
    posts.map((post) => (
      // <section class="container mx-auto shadow-lg bg-light-bg-alt text-light-text dark:bg-dark-bg-alt dark:text-dark-text rounded-xl p-4 my-10">
      <section class="shadow-lg bg-light-bg-alt text-light-text dark:bg-dark-bg-alt dark:text-dark-text rounded-xl p-4 my-6 sm:my-10">
        <h2 class="my-4 text-lg sm:text-xl md:text-2xl lg:text-3xl">
          <a
            class="font-ibm hover:underline text-light-text dark:text-dark-text text-xl md:text-2xl lg:text-3xl"
            href={`/posts/${post.slug}/`}
            set:html={post.title}
            data-astro-reload
          />
        </h2>
        <span
          class="block my-4 text-light-text dark:text-dark-text"
          set:html={`By: ` + post.author.node.name}
        />
        <span
          class="block my-4 text-light-text dark:text-dark-text"
          set:html={format(post.date, "dd MMM yyyy")}
        />
        <div
          class="my-5 text-light-text dark:text-dark-text break-words"
          set:html={post.excerpt}
        />
        <span
          class="block text-left sm:text-right"
          set:html={`tags: ` + getTagName(post.tags.edges)}
        />
      </section>
    ))
  }
</article>
