---
const { post } = Astro.props;
---

<article
  class="mt-20 w-full sm:max-w-4xl mx-auto bg-light-bg-alt text-light-text dark:bg-dark-bg-alt dark:text-dark-text shadow-lg rounded-xl p-4 my-6"
>
  <h2
    class="font-ibm font-bold text-balance text-xl md:text-2xl lg:text-3xl text-center text-light-primary dark:text-dark-primary my-10"
    set:html={post.title}
  />
  <section class="flex flex-col items-center justify-center p-4">
    <div
      id="postContent"
      class="text-lg md:text-xl lg:text-2xl mx-auto overflow-hidden break-words max-w-full sm:max-w-4xl"
      set:html={post.content}
    />
  </section>
</article>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const postContentDiv = document.getElementById("postContent");

    const iframes = postContentDiv.querySelectorAll("iframe");
    const images = postContentDiv.querySelectorAll("img");
    const paragraphs = postContentDiv.querySelectorAll("p");
    paragraphs.forEach((p) => {
      p.className = "";
      p.classList.add("my-3", "sm:my-6", "text-pretty");
    });
    images.forEach((img) => {
      //w-full
      // img.classList.add("w-80", "h-auto", "mx-auto");
      img.removeAttribute("style");
      img.className = "";
      // "max-w-sm",
      img.classList.add(
        "w-full",
        "h-auto",
        "mx-auto",
        "max-w-full",
        "rounded-lg",
        "overflow-hidden"
      );
    });
    iframes.forEach((iframe) => {
      // iframe.classList.add(
      //   "w-full",
      //   "sm:w-full",
      //   "sm:h-full",
      //   "max-w-full",
      //   "h-auto"
      // );
      iframe.classList.add("w-full");
    });
  });
</script>
