---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import Header from "../components/Header.astro";
import SearchBar from "../components/SearchBar.astro";
import Footer from "../components/Footer.astro";
import ScrollButton from "../components/ScrollButton.astro";
import "../styles/global.css";
interface Props {
  title: string;
  showSearchBar: boolean;
}

const { title, showSearchBar = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- <ViewTransitions /> -->
  </head>
  <body
    class="bg-light-bg dark:bg-dark-bg text-light-text dark:text-dark-text min-h-screen relative"
  >
    <Header />
    {showSearchBar && <SearchBar />}
    <main
      class="flex justify-center flex-col items-center pb-16 px-4 sm:px-6 lg:px-8"
    >
      <slot />
    </main>
    <Footer />
    <ScrollButton />
    <script>
      import "../scripts/theme.js";
    </script>
  </body>
</html>
